[submodule "Lab01"]
	path = Lab01
	url = https://github.com/EECE4263-S2022/lab01-LU-Zach
[submodule "Lab02"]
	path = Lab02
	url = https://github.com/EECE4263-S2022/lab02-LU-Zach
[submodule "Lab03"]
	path = Lab03
	url = https://github.com/EECE4263-S2022/lab03-LU-Zach
[submodule "Lab04"]
	path = Lab04
	url = https://github.com/EECE4263-S2022/lab04-LU-Zach
[submodule "Lab05"]
	path = Lab05
	url = https://github.com/EECE4263-S2022/lab05-LU-Zach
[submodule "Lab06"]
	path = Lab06
	url = https://github.com/EECE4263-S2022/lab06-LU-Zach
[submodule "LabFinal"]
	path = LabFinal
	url = https://github.com/EECE4263-S2022/finalproject-LU-Zach.git
