[submodule "Lab02"]
	path = Lab02
	url = https://github.com/EECE4263-S2022/lab02-LU-Zach
[submodule "Lab01"]
	path = Lab01
	url = https://github.com/EECE4263-S2022/lab01-LU-Zach
[submodule "Lab03"]
	path = Lab03
	url = https://github.com/EECE4263-S2022/lab03-LU-Zach
[submodule "Lab04"]
	path = Lab04
	url = https://github.com/EECE4263-S2022/lab04-LU-Zach
